{$API_DOMAIN:api.blankcode.dev} {
	reverse_proxy api:3000

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
}
